<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>机械英语</title>
<script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<style>
body{
    background-color: #ebd5c5;
}
</style>
</head>
<body>
<div id="app" class="demo">
    <header>
        <strong>巴啦啦软件.机械英语</strong>
        <select style="float:right" v-model="selectItem" @change="changeItem($event)">
            <option v-for="(options,id) in itemList" :key="id" :value="options.url">
                {{options.title}}
            </option>
        </select>
    </header>
    <div v-if="isShow" style="width: 600px;margin: auto;margin-top: 200px;text-align: center;">
        <p v-if="i%2==0" style="font-size: 40px;margin: 0px;">{{ thisWord.original }}&nbsp;</p>
        <p v-if="i%2!=0" style="font-size: 40px;margin: 0px;">{{ thisWord.translation }}</p>
        <p><input style="text-align:center;font-size: 40px;outline: -webkit-focus-ring-color auto 1px;" v-model="text" id="inputName"></p>
        <p v-if="i%2==0" style="font-size: 40px;margin: 0px;">{{ thisWord.translation }}</p>
        <p v-if="i%2!=0"  style="font-size: 40px;margin: 0px;">{{ thisWord.original }}</p>
    </div>
    <p style=" position: absolute;bottom: 0;margin-bottom: 5px;">你已学习：{{c}}次</p>
</div>
<script>
const app = {
  data() {
    return {
        selectItem:'/resource/english/2000.json',
        itemList:[
            {id:1,title:"2000单词",url:'/resource/english/2000.json'},
            {id:2,title:"4000单词",url:'/resource/english/4000.json'},
            {id:3,title:"6000单词",url:'/resource/english/6000.json'}
        ],
        i:0,
        c:0,
        thisWord:{
            original:"",
            translation:""
        },
        words:[],
        text:"",
        isShow:true
    }
  },
  methods: {
    changeItem(){
        localStorage.setItem("url",this.selectItem)
        this.f()
    },
    f(){
        axios({
            method: 'GET',
            url:this.selectItem,
        })
        .then(response => {
            this.words = response.data;
            var index = Math.floor((Math.random()*this.words.length));
            this.thisWord = this.words[index];
            var sound = window.speechSynthesis; // 定义局部变量
            var read_text = new SpeechSynthesisUtterance(this.thisWord.original); // 实例化
            sound.speak(read_text); // 朗读
            document.getElementById("inputName").focus();
        }).catch(function (error) { // 请求失败处理
            console.log(error);
        });
    }
  },
  watch: {
    text: {
        handler(newValue, oldValue) {
            let a = true;
            if(newValue == this.thisWord.original){
                this.i += 1
                this.c += 1
                localStorage.setItem("c",this.c)
                var sound = window.speechSynthesis; // 定义局部变量
                this.isShow = false
                var index = Math.floor((Math.random()*this.words.length));
                this.thisWord = this.words[index]
                this.text = ""
                this.isShow = true
                document.getElementById("inputName").focus()
                try {
                    var read_text = new SpeechSynthesisUtterance(this.thisWord.original); // 实例化
                    sound.speak(read_text); // 朗读
                } catch (error) {
                    console.log(error)
                }
            }
        },
        deep: true
    }
  },
  mounted() {
    if(localStorage.getItem("url") != null){
        this.selectItem = localStorage.getItem("url")
    }
    if(localStorage.getItem("c") != null){
        this.selectItem = localStorage.getItem("c")
    }
    this.f();
  }
}
Vue.createApp(app).mount('#app')
</script>
</body>
</html>
