<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
<script src="https://cdn.staticfile.org/vue/3.2.36/vue.global.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<style>
body{
    background-color: #ebd5c5;
}
</style>
</head>
<body>
<div id="app" class="demo">
    <div v-if="isShow" style="width: 600px;margin: auto;margin-top: 200px;text-align: center;">
        <p v-if="i%2==0" style="font-size: 40px;margin: 0px;">{{ thisWord.original }}</p>
        <p v-if="i%2!=0" style="font-size: 40px;margin: 0px;">{{ thisWord.translation }}</p>
        <p><input style="text-align:center;font-size: 40px;outline: -webkit-focus-ring-color auto 1px;" v-model="text" id="inputName"></p>
        <p v-if="i%2==0" style="font-size: 40px;margin: 0px;">{{ thisWord.translation }}</p>
        <p v-if="i%2!=0"  style="font-size: 40px;margin: 0px;">{{ thisWord.original }}</p>
    </div>
</div>
<script>
const app = {
  data() {
    return {
        i:0,
        thisWord:{
            original:"",
            translation:""
        },
        words:[],
        text:"",
        isShow:true
    }
  },
  methods: {
    f(){
        axios
        .get('resource/m.json')
        .then(response => {
            this.words = response
            var index = Math.floor((Math.random()*this.words.length));
            this.thisWord = this.words[index]
            var sound = window.speechSynthesis; // 定义局部变量
            var read_text = new SpeechSynthesisUtterance(this.thisWord.original); // 实例化
            sound.speak(read_text); // 朗读
            document.getElementById("inputName").focus()
        }).catch(function (error) { // 请求失败处理
            console.log(error);
        });
    }
  },
  watch: {
    text: {
        handler(newValue, oldValue) {
            let a = true;
            if(newValue == this.thisWord.original){
                this.i += 1
                var sound = window.speechSynthesis; // 定义局部变量
                this.isShow = false
                var index = Math.floor((Math.random()*this.words.length));
                this.thisWord = this.words[index]
                var _this = this;
                _this.text = ""
                _this.isShow = true
                document.getElementById("inputName").focus()
                var read_text = new SpeechSynthesisUtterance(_this.thisWord.original); // 实例化
                sound.speak(read_text); // 朗读
            }
        },
        deep: true
    }
  },
  mounted() {
    this.f()
  }
}
Vue.createApp(app).mount('#app')
</script>
</body>
</html>
